@model DAL.ViewModels.EditUserViewModel

<!-- user heading and search box and add user button -->
<div class="d-flex justify-content-between align-items-center">
    <h1 class="main-page-heading">Edit User</h1>
    <a asp-controller="UserList" asp-action="Index">
        <button class="btn btn-contrast mx-4">
            < Back</button>
    </a>
</div>

<!-- form -->
<div class="form-bg mx-4 p-3 shadow my-3">
    <form action="" id="edit-user-form">
        <div class="row g-3">
            <div class="col-12 col-sm-6 p-2 form-floating">
                <input type="text" class="form-control" name="FirstName" asp-for="@Model.FirstName" id="first-name" placeholder="first-name" value=@Model.FirstName>
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                <label for="first-name" class="mx-2 mt-2">First Name</label>
            </div>
            <div class="col-12 col-sm-6 p-2 form-floating">
                <input type="text" class="form-control" name="LastName" id="last-name" placeholder="last-name"
                    value=@Model.LastName>
                <label for="last-name" class="mx-2 mt-2">Last Name</label>
            </div>
            <div class="col-12 col-sm-6 p-2 form-floating">
                <input type="text" class="form-control" name="UsernameRequestedUSer" asp-for="@Model.UsernameRequestedUSer" id="user-name" placeholder="user-name"
                    value=@Model.UsernameRequestedUSer>
                <span asp-validation-for="@Model.UsernameRequestedUSer" class="text-danger"></span>
                <label for="user-name" class="mx-2 mt-2">Username</label>
            </div>
            <div class="col-12 col-sm-6 p-2 form-floating">
                <select name="RoleIdRequestedUser" id="select-role" asp-for="@Model.RoleIdRequestedUser" class="form-select" aria-label="Select Role">
                    @foreach (var role in ViewBag.Roles)
                    {
                        <option value="@role.Id" selected="@(Model.RoleIdRequestedUser == role.Id)">@role.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.RoleIdRequestedUser" class="text-danger"></span>
                <label for="select-role" class="mx-2 mt-2">Role</label>
            </div>
            <!-- email -->
            <div class="col-12 col-sm-6 p-2 form-floating">
                <input type="email" class="form-control" asp-for="@Model.Email" name="Email" id="email" placeholder="email" value=@Model.Email>
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                <label for="email" class="mx-2 mt-2">Email</label>
            </div>
            <!-- status -->
            <div class="col-12 col-sm-6 p-2 form-floating">
                <select name="Status" id="select-status" class="form-select" aria-label="Select Status">
                    @if (Model.Status == true)
                    {
                        <option value="true" selected>Active</option>
                        <option value="false">Inactive</option>
                    }
                    else
                    {
                        <option value="true">Active</option>
                        <option value="false" selected>Inactive</option>
                    }
                </select>
                <label for="select-status" class="mx-2 mt-2">Status</label>
            </div>
            <div class="col-12 py-2">
                <div class="file upload position-relative overflow-hidden btn-custom">
                    <div class="d-flex flex-column justify-content-center align-items-center my-3">
                        <img src="~/images/icons/cloud.svg" class="small-image" alt="">
                        <span>Browse Files</span>
                        <p id="file-name"></p>
                    </div>
                    <input type="file" id="upload-btn" class="position-absolute file-input-btn" name="ProfileImage"
                        accept="image/*" />
                </div>
            </div>
            <div class="col-12 col-sm-4 p-2 form-floating">
                <select name="CountryId" id="select-country" asp-for="@Model.CountryId" class="form-select" aria-label="Select Country">
                    <option value="">Select Country</option>
                    @foreach (var country in ViewBag.Countries)
                    {
                        <option value="@country.Id" selected="@(Model.CountryId == country.Id)">@country.Name
                        </option>
                    }
                </select>
                <span asp-validation-for="@Model.CountryId" class="text-danger"></span>
                <label for="select-country" class="mx-2 mt-2">Country</label>
            </div>
            <div class="col-12 col-sm-4 p-2 form-floating">
                <select name="StateId" id="select-state" asp-for="@Model.StateId" class="form-select" aria-label="Select State">
                    <option value="">Select State</option>
                    @foreach (var state in ViewBag.States)
                    {
                        <option value="@state.Id" selected="@(Model.StateId == state.Id)">@state.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.StateId" class="text-danger"></span>
                <label for="select-state" class="mx-2 mt-2">State</label>
            </div>
            <div class="col-12 col-sm-4 p-2 form-floating">
                <select name="CityId" id="select-city" asp-for="@Model.CityId" class="form-select" aria-label="Select City">
                    <option value="">Select City</option>
                    @foreach (var city in ViewBag.Cities)
                    {
                        <option value="@city.Id" selected="@(Model.CityId == city.Id)">@city.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.CityId" class="text-danger"></span>
                <label for="select-city" class="mx-2 mt-2">City</label>
            </div>
            <div class="col-12 col-sm-4 p-2 form-floating">
                <input type="text" class="form-control" name="ZipCode" id="zipcode" placeholder="Zipcode"
                    value=@Model.ZipCode>
                <label for="first-name" class="mx-2 mt-2">Zipcode</label>
            </div>
            <div class="col-12 col-sm-4 p-2 form-floating">
                <input type="text" class="form-control" name="Address" id="address" placeholder="Address"
                    value=@Model.Address>
                <label for="address" class="mx-2 mt-2">Address</label>
            </div>
            <!-- phone-number -->
            <div class="col-12 col-sm-4 p-2 form-floating">
                <input type="text" class="form-control" name="PhoneNumber" id="phone-number" placeholder="phone-number"
                    value=@Model.PhoneNumber>
                <label for="phone-number" class="mx-2 mt-2">Phone Number</label>
            </div>
            <div class="my-3 mx-2">
                <button type="submit" class="btn btn-primary">Update</button>
                <button class="btn btn-contrast">
                    <a asp-controller="UserList" asp-action="Index" class="text-decoration-none position p-3">
                        Cancel</a>
                </button>
            </div>
            <input id="userid" name="Id" class="d-none" value="@Model.Id" />

        </div>
    </form>
</div>
</div>

<script src="~/js/editUser.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}